/**  style.css **/

@font-face {
  font-family: 'MyFont';
  src: url('assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  background-color: aqua;
  padding: 0 20%;
}

header p {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  width: 100%;
  background-color: aqua;
  padding: 0 20%;
}

.footer-container-section {
  display: flex;
  align-items: center;
}

.contact-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  
}




@media screen and (max-width: 320px){
  header {
    padding: 0 8%;
  }
  .container {
    flex-direction: column;
  }
  .container-title {
    font-size: 23px;
  }
  footer {
    flex-direction: column;
    padding: 0 2%;
  }
  .footer-container-section {
    flex-direction: column;
    
  }
}

@media screen and (max-width: 720px){
  header {
    padding: 0 10%;
  }
  .container {
    flex-direction: column;
  }
  .container-title {
    font-size: 23px;
  }
  footer {
    flex-direction: column;
    padding: 0 4%;
  }
  .footer-container-section {
    flex-direction: column;
    
  }
  
}

@media screen and (max-width: 1080px){
  header {
    padding: 0 13%;
  }
  .container {
    flex-direction: column;
  }
  .container-title {
    font-size: 23px;
  }
  footer {
    padding: 0 13%;
  }
  
}